@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,700&display=swap');

:root{
    /*Primary*/
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /*Neutral*/
    --transparent-white /*paragraph*/: hsla(0, 0%, 100%, 0.75);
    --very-light-gray /*background,headings,buttons*/: hsl(0, 0%, 95%);
}

* {
    font-size: 15px;
    margin: 0 0 0 0;
    display: grid;
}

.container {
    display: grid;
    /* Device Specific */
    @media screen and (max-width: 719px) {
        grid-template-columns: 1;
        grid-template-rows: 4;
    };
    @media screen and (min-width: 720px) {
        grid-template-columns: 4;
        grid-template-rows: 1;   
    };
}


/* Sedany */
.sedany {
    background-color: var(--bright-orange);
    color: var(--transparent-white);
    padding: 15px 15px 15px 15px;
    
    /* Device Specific */
    @media screen and (max-width: 719px) {
        margin-top: 50px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 0;
        grid-column: 1;
        grid-row: 1 / 2;
        border-radius: 12px 12px 0px 0px;
    };
    @media screen and (min-width: 720px) {
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 0px;
        margin-bottom: 100px;
        grid-column: 1 / 2;
        grid-row: 1;
    };
}

.sedany__h2 {
    font-family: "Big Shoulders", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.sedany__p {
    font-family: "Lexend Deca", sans-serif;
}

.sedany__button {
    font-family: "Lexend Deca", sans-serif;
    background-color: var(--very-light-gray);
    color: var(--bright-orange);
    margin-top: 10px;
    margin-right: 50%;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: none;
    padding: 15px 15px 15px 15px;
}

.sedany__h2,.sedany__p,.sedany__img {
    padding: 15px 15px 15px 15px;
}

/* SUV */
.suv {
    padding: 15px 15px 15px 15px;
    background-color: var(--dark-cyan);
    color: var(--transparent-white);
    /* Device Specific */
    @media screen and (max-width: 719px) {
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 0;
        margin-top: 0;
        grid-column: 1;
        grid-row: 2 / 3;    
    }
    @media screen and (min-width: 720px) {
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 0px;
        margin-right: 0px;
        grid-column: 2 / 3;
        grid-row: 1;
    }
}

.suv__h2 {
    font-family: "Big Shoulders", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.suv__p {
    font-family: "Lexend Deca", sans-serif;
}

.suv__button {
    font-family: "Lexend Deca", sans-serif;
    background-color: var(--very-light-gray);
    color: var(--dark-cyan);
    border-radius: 20px;
    border: none;
    padding: 15px 15px 15px 15px;
    margin-top: 10px;
    margin-right: 50%;
    margin-left: 15px;
    margin-bottom: 10px;
}

.suv__h2,.suv__p,.suv__img {
    padding: 15px 15px 15px 15px;
}

/* Luxusne */
.luxusne {
    padding: 15px 15px 15px 15px;
    
    background-color: var(--very-dark-cyan);
    color: var(--transparent-white);
    /* Device Specific */
    @media screen and (max-width: 719px) {
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 50px;
        margin-top: 0;
        grid-column: 1;
        grid-row: 3 / 4;
        border-radius: 0px 0px 12px 12px;
    };
    @media screen and (min-width: 720px) {
        margin-left: 0px;
        margin-right: 50px;
        margin-bottom: 100px;
        margin-top: 100px;
        grid-row: 3 / 4;
        grid-column: 1;
    };
}

.luxusne__h2 {
    font-family: "Big Shoulders", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.luxusne__p {
    font-family: "Lexend Deca", sans-serif;
}

.luxusne__button {
    font-family: "Lexend Deca", sans-serif;
    background-color: var(--very-light-gray);
    color: var(--very-dark-cyan);
    border-radius: 20px;
    border: none;
    padding: 15px 15px 15px 15px;
    margin-top: 10px;
    margin-right: 50%;
    margin-left: 15px;
    margin-bottom: 10px;
}

.luxusne__h2,.luxusne__p,.luxusne__img {
    padding: 15px 15px 15px 15px;
}