@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,700&display=swap');

:root{
    /*Primary*/
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /*Neutral*/
    --transparent-white /*paragraph*/: hsla(0, 0%, 100%, 0.75);
    --very-light-gray /*background,headings,buttons*/: hsl(0, 0%, 95%);
}

* {
    font-size: 15px;
    margin: 0 0 0 0;
}

/* Sedany */
.sedany {
    background-color: var(--bright-orange);

    /* Device Specific */
    @media screen and (max-width: 719px) {
        margin-top: 50px;
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 0;
    };
    @media screen and (min-width: 720px) {

    };
}

/* SUV */
.suv {
    background-color: var(--dark-cyan);

    /* Device Specific */
    @media screen and (max-width: 719px) {
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 0;
        margin-top: 0;    
    };
    @media screen and (min-width: 720px) {
        
    };
}

/* Luxusne */
.luxusne {
    background-color: var(--very-dark-cyan);

    /* Device Specific */
    @media screen and (max-width: 719px) {
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 50px;
        margin-top: 0;
    };
    @media screen and (min-width: 720px) {
        
    };
}