header{
    background-color: #ffb663;
}

footer{
    background-color: #995092;
}

nav{
    background-color: #12a32d;
}

main{
    background-color: #0f61cc;
}

aside{
    background-color: #6c6c6c;
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .wrapper {
        display: flex;
    }
    nav {
        order: 1;
    }    
    aside {
        order: 2;
    }
    main {
        order: 3;
    }
}