img {
    border-radius: 1px solid #222;
    border-radius: 4px;
    padding: 5px;
    width: 155px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

header {
    background-color: #ccc;
    border-radius: 4px;
}

* {
    font-family: Linux Libertine, Hoefler Text, Georgia, Times New Roman, Times, serif;
}

.content {
    margin-left: 45%;
}