body, html{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100%; */

}

.container{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 6fr 3fr 3fr 3fr;
}


    