@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
body {
    font-family: "Geist Mono", monospace;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

main {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

section.clanok {
    width: 300px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section.clanok .clanok-nadpis {
    margin-bottom: 10px;
}

section.clanok .clanok-content {
    font-size: 14px;
    line-height: 1.5;
}

footer {
    text-align: center;
    padding: 10px;
    border-top: #000000 solid;
    background-color: #f0f0f0;
}

.obrazok {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    color: #666;
    font-size: 1rem;
    width: 100%;
    aspect-ratio: 2 / 1;
    border: 1px solid #000000;
    border-radius: 6px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}