h2 /* Selektor h2 */ { /* Deklarácia */
    color: crimson;
    font-size: 28px;
}

.perex {
    font-style: italic;
}

strong {
    color: darkolivegreen;
}

#cpvvapdzui {
    color: burlywood;
    text-decoration: wavy line-through;
    text-transform: uppercase;
}