h2 /* Selektor h2 */ { /* Deklarácia */
    color: yellowgreen;
    font-size: 28px;
}

.jasny {
    color: violet;
    text-transform: uppercase;
}
.perex {
    font-style: italic;
}

strong {
    color: violet;
}

#cpvvapdzui {
    color: burlywood;
    text-decoration: wavy line-through;
    text-transform: uppercase;
}