.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.preparation {
    background-color: hsl(330, 100%, 98%);
}

.preparation-title {
    color: hsl(332, 51%, 32%);
}